.logout{
    width: 350px;
    padding: 4px;
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color:rgb(243, 244, 244);;
    z-index: 101;
    font-family: apple;
}