.search
{
    
    z-index: 101;
    position: relative;
    /* transform: translateY(-100%); */
    /* width: 100vw;
    bottom: 100%;
    border: 1px solid black; 
    background-color: green;*/
}

.signupParentDiv {
    
   
}