.ftr{
    background-color: #d73131;
    height:0px;
}

.cprt{
    padding-left: 100px;
    padding-top: 0px;
}

.fb{
    padding-left: 100px;
    padding-top: 50px;
}

.twi{
    padding-left: 150px;
    padding-top: 0;
}

.yt{
    padding-left: 200px;
    padding-bottom: px;
}